h1{
    color: rgb(46, 46, 156);
    font-size: 50px;
    background-color: rgba(113, 119, 119, 0.507);
    text-decoration: underline;
    text-transform: uppercase;
    text-align: center;
}
h2{
    color: rgb(160, 79, 79);
    text-transform: uppercase;
    letter-spacing: 10px;
    

}
section{
    margin-left: 5cm;
}
li{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
}