h1{

}
hr{
    border-color: #00F;
    border-width: 2px;
}
h2{
    border-style: groove;
    border-width: 2px;
    border-color: #AAA;
}

p{
    /* border-style: dotted; */
    border-top: red;
    border-color: blue;
}
section{
    border-style: dotted ;
    border-left: 0px;
    border-right: 0px;
    border-color: #F00;
    border-width: 4px;
}
.contenido{
    border-style: dashed;
    border-color: #0f0;
    border-width: 2px;
}
 